/* ================= Section-5 ================= */
.section-5 {
  width:100%;
  height:75%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

/* ================= Article-1 ================= */
.section-5_article-1 {
  width: 100%;
  height: 600px;
  filter: grayscale(100%);
  box-sizing: border-box;
}
.section-5_article-1_img {
  width: 100%;
  height: 100%;
  min-height: 500px;
  object-fit: cover;
  filter: blur(5px);
}

/* ================= Article-2 ================= */
.section-5_article-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-5_article-2_text {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.section-5_article-2_text-1 {
  width: 90%;
  font-weight: 700;
  font-size: 3vw;
}
.section-5_article-2_text-2 {
  max-width: 60%;
  margin: 2% 0 4% 0;
}

.section-5_article-2_email-form {
  width: 50%;
  height:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}

.section-5_article-2-input-email {
  width: 75%;
  min-width: 300px;
  height: 70px;
  border-radius: 5px;
  font-family: Open_Sans, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-left: 30px;
  margin: 0 0 20px;
  background: hsl(0, 0%, 95%);
  outline: none;
  border: none;
}
.section-5_article-2-input-email:hover {
  background: hsl(0, 0%, 100%);
}
.section-5_article-2-input-email:focus {
  border: 1px var(--colir_dark_red) solid;
}

.section-5_article-2-input-submit {
  width: 200px;
  height: 70px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-family: Open_Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  background: var(--colir_red);
  border-radius: 5px;
  border: none;
  margin: 0 0 20px;
}

.section-5_article-2-input-submit:hover {
  background-color: var(--colir_dark_red);
  box-shadow: 2px 2px 3px 0px hsl(0, 0%, 100%), 5px 5px 5px 2px hsl(0, 0%, 25%);
}
.section-5_article-2-input-submit:active {
  background-color: var(--colir_light-red);
  border: 2px hsl(0, 0%, 15%) solid;
  color: hsl(345, 4%, 19%);
  box-shadow: none;
}

  .section-5:hover .section-5_article-1_img {
    animation: 12s picture-zoom 0s ease-in-out infinite;
  }

@keyframes picture-zoom {
  0% {
    height:100%;
  }
  50% {
    height:170%;
    width:110%;
  }
  100% {
    height:100%;
  }
}
