/* ----------------- Section-6 ----------------- */
.section-6 {
  width: 100vw;
  height: auto;
}

/* ----------- Article-1 ----------- */
.section-6_article-1 {
  padding-top: 150px;
}

.section-6_article-1_title {
  letter-spacing: 1px;
}

.section-6_article-1_text {
  width: 59%;
  display: inline-block;
  margin: 25px 0;
}

.section-6_line {
  width: 10%;
  height: 3px;
  margin: 5px 0;
  background-color: var(--colir_red);
  border: none;
  border-radius: 1px;
  transition: all 0.5s linear;
}

.section-6_article-1:hover .section-6_line {
  width: 59%;
}

/* ----------- Article-2 ----------- */
.section-6_article-2 {
  width: calc(85% + 15% / 2);
  height: 500px;
  margin: 4% 0 6% calc(15% / 2);
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

.section-6_article-2_input_container {
  width: 60%;
  height: 100%;
  display: inline-block;
}

.section-6_article-2_input_container-form {
  width: 90%;
  height: 100%;
}

.section-6_article-2_input {
  font-family: Open_Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 4%;
  padding-right: 1%;
  border-radius: 10px;
  background: hsl(0, 0%, 90%);
  outline: none;
  border: none;
}

.section-6_article-2_input_name {
  width: 45%;
  height: 15%;
  margin-right: 10%;
}

.section-6_article-2_input_mail {
  width: 45%;
  height: 15%;
}

.section-6_article-2_input_message {
  width: 100%;
  height:50%;
  padding: 3% 1% 1% 4%;
  margin: 5% 0;
  resize: none;
}

.section-6_article-2_input_button {
  width: 100%;
  height: 73px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-family: Open_Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  background: var(--colir_red);
  border-radius: 5px;
  text-align: center;
  border: none;
}
.section-6_article-2_input_button:hover {
  box-shadow: 2px 2px 3px 1px hsl(26, 30%, 95%), 5px 5px 5px 2px hsl(0, 0%, 51%);
}
.section-6_article-2_input_button:active {
  background-color: var(--colir_light-red);
  border: 2px hsl(0, 0%, 100%) solid;
  color: hsl(345, 4%, 19%);
  box-shadow: none;
}

.section-6_article-2_contact-info {
  width: 40%;
  height: 100%;
  display: inline-block;
  background: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.section-6_article-2_contact-info_text {
  width:80%;
  height: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  margin: 3% 0;
  padding-left: 10%;
}

.section-6_article-2_contact-info_text-1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}