/* ----------------- Section-4 ----------------- */
.section-4 {
  scroll-behavior: smooth
}

/* ----------- Article-1 ----------- */
.section-4_article-1 {
  padding-top: 150px;
}

.section-4_article-1_title {
  letter-spacing: 1px;
}

.section-4_article-1_text {
  width: 35%;
  display: inline-block;
  margin: 25px 0;
}

.section-4_line {
  width: 10%;
  height: 3px;
  margin: 5px 0;
  background-color: var(--colir_red);
  border: none;
  border-radius: 1px;
  transition: all 0.5s linear;
}

.section-4_article-1:hover .section-4_line {
  width: 35%;
}

/* ----------- Article-2 ----------- */
.section-4_article-2 {
  width: 100%;
  height: 550px;
  margin: 50px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-4_article-2_photo-box-1 {
  width: 400px;
  height: 550px;
  margin-right: 100px;
  display: inline-block;
}

.section-4_article-2_photo-box-1_photo-main {
  width: 400px;
  height: 550px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}
.section-4_article-2_photo-box-1_photo-main:hover {
  cursor: url(../img/cursor/cursor_pen_icon_2.png), auto;
  box-shadow: 2px 2px 3px 1px hsl(0, 0%, 100%), 5px 5px 5px 2px hsl(0, 0%, 51%);
}

.section-4_article-2_photo-box-1_photo-main:active {
  box-shadow: none;
  border: 1px hsl(0, 0%, 100%) solid;
}

.section-4_article-2_photo-box-2 {
  width: calc(100% - 500px);
  height: 550px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-4_article-2_photo-box-2_content {
  width: 100%;
  height: auto;
}

.section-4_article-2_photo-box-2_content_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0px;
}

.section-4_article-2_photo-box-2_content_text {
  width: 75%;
  height: auto;
  margin-top: 4%;
}

.section-4_article-2_photo-box-2_content_social-contact {
  width: 100%;
  height: auto;
}

.section-4_article-2_photo-box-2_content_social-contact-button {
  margin-right: 5%;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  color: hsl(0, 0%, 35%);
}
.section-4_article-2_photo-box-2_content_social-contact-button:last-child {
  margin: 0;
}
.section-4_article-2_photo-box-2_content_social-contact-button:hover {
  text-decoration: underline;
  color: hsl(207, 100%, 42%);
}

.section-4_article-2_photo-box-2_staff {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}

.section-4_article-2_photo-box-2_photos {
  width: 24%;
  height:300px;
  filter: grayscale(100%);
  position: relative;
  transition: all 0.1s linear;
  display: inline-block;
}
.section-4_article-2_photo-box-2_photos:last-child {
  margin-right: 0;
}

.section-4_article-2_photo-box-2_photos:hover {
  cursor: url(../img/cursor/cursor_pen_icon_2.png), auto;
  filter: none;
  box-shadow: 2px 2px 3px 1px hsl(0, 0%, 100%), 5px 5px 5px 2px hsl(0, 0%, 51%);
}
.section-4_article-2_photo-box-2_photos:active {
  box-shadow: none;
  border: 1px hsl(0, 0%, 100%) solid;
}

.section-4_article-2_photo-box-2_photo-people {
  width:100%;
  height:100%;
  object-fit: cover;
}

.section-4_article-2_photo-box-2_photo-name {
  width:100%;
  height:35px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: all 0.5s linear;
}

.section-4_article-2_photo-box-2_photos:hover .section-4_article-2_photo-box-2_photo-name {
  opacity: 1;
}