/* ================= Section-2 ================= */
.section-2 {
  width: 100%;
  height: 100%;
}

.section-2_article {
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  padding: 10% 0 5% 0;
}
/* ================= Article-1 ================= */
.section-2_article-1 {
  width: 50%;
  min-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.section-2_article-1_title {
  width: 85%;
}

.section-2_article-1_text {
  width: 85%;
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  margin: 30px 0;
}

.section-2_article-1_button {
  width: 300px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: hsl(348, 66%, 40%);
  border: 2px hsl(348, 66%, 40%) solid;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.section-2_article-1_button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(348, 66%, 40%);
  box-shadow: 2px 2px 3px 1px hsl(0, 0%, 100%), 5px 5px 5px 2px hsl(0, 0%, 51%)
}

.section-2_article-1_button:active {
  background-color: hsl(348, 66%, 55%);
  border: 2px hsl(348, 66%, 55%) solid;
  color: hsl(345, 4%, 19%);
  box-shadow: none;
}

/* ================= Article-2 ================= */
.section-2_article-2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-wrap: wrap;
}

.section-2_article-2_content {
  width: 45%;
  min-width: 300px;
  height: 50%;
}

.section-2_article-2_picture {
  width: 50px;
  height: 50px;
}

.section-2_article-2_title {
  margin: 5% 0;
}

.section-2_article-2_text {
  padding-bottom: 5%;
}

.section-2_line {
  width: 83%;
  height: 3px;
  margin: 0 auto 5px;
  background-color: hsl(0, 0%, 90%);
  border: none;
  border-radius: 1px;
}

@media (max-width : 1440px) {
  .section-2_article {
    width: 95%;
  }
  .section-2_article-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .section-2_article-1_title {
    width: 50%;
    text-align: center;
  }
  .section-2_article-1_text {
    width: 60%;
    text-align: center;
  }
  .section-2_article-1_button {
    margin-top: 0;
  }
  .section-2_article-2 {
    width: 100%;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 20px;
  }
  .section-2_article-2_content {
    padding: 0 1%;
  }
}
@media (max-width : 1210px) {
  .section-2_article {
    padding: 100px 0 50px;
  }
}
@media (max-width : 650px) {
  .section-2_article {
    padding: 50px 0 25px 0;
  }
  .section-2_article-1_title {
    width: 90%;
  }
  .section-2_article-1_text {
    width: 90%;
  }
  .section-2_article-2_content {
    width: 90%;
  }

}
